[submodule "Exam-DDI-Bootstrap"]
	path = Exam-DDI-Bootstrap
	url = https://github.com/alex55fc/Exam-DDI-Bootstrap
[submodule "Exam-DDI-SpringBoot"]
	path = Exam-DDI-SpringBoot
	url = https://github.com/alex55fc/Exam-DDI-SpringBoot
[submodule "Exam-PSP-ProcessesAndThreads"]
	path = Exam-PSP-ProcessesAndThreads
	url = https://github.com/alex55fc/Exam-PSP-ProcessesAndThreads
[submodule "Exam-SGE-Odoo"]
	path = Exam-SGE-Odoo
	url = https://github.com/alex55fc/Exam-SGE-Odoo
